.logo {
  height: auto; 
  width: 70%; 
}  

.bg-rounded {
  min-height: 100vh;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #000000;
}

.infobox {
    margin-top: 3rem;
    background-color: $blue;
    border-radius: 2rem;
    padding: 2rem;
}

.infobox-grey {
    margin-top: 3rem;
    background-color: $secondary;
    border-radius: 2rem;
    padding: 2rem;
}

.h2-teal {
    color: $teal;
}

.glass-container {
  position: relative;
  width: 60%;            
  padding-top: 15%; 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.glass {
    width: 140px;
    height: 140px;
    background: rgba(219, 25, 48, 0.3);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
  }

  .glass:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Linke untere Ecke */
.glass:nth-child(2) {
  bottom: 0;
  right: 40%; 
  transform: translateX(-60%)           
}

/* Rechte untere Ecke */
.glass:nth-child(3) {
  bottom: 0;
  right: 15%;   
  transform: translateX(-60%)    
}

