section {
    margin: 8rem 0;
}

p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 2rem;
}

h1 {
    font-family: 'Bricolage Grotesque';
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    color: $primary;
}

h2 {
    font-family: 'Bricolage Grotesque';
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: $light;
}