table {
    margin-top: 1rem;
    @media (max-width: 576px) {
    font-size: 0.8rem;
    }
}

.table-dark thead th {
    color: $secondary;
    background-color: $blue;
}

.table-dark tbody tr td{
    color: $blue;
}
